.service__section {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../assets/about.jpg"), no-repeat center center;
    background-size: cover;
}

.services__container {
    padding: 10rem 0;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    overflow: hidden;
}

.about__our-services {
    flex: 0 0 50%;
    max-width: 50%;
}

.about__our-services h2 {
    color: #fff;
}

.offers {
    display: flex;
    color: #fff;
    font-size: 2rem;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

.offers:hover .offer_number {
    background: var(--primary);
    color: #23A036;
    transition: var(--transition);
}

.offers:hover h4 {
    transform: scale(1.1);
    transition: var(--transition);
}

.offer_number {
    font-weight: 700;
    background-color: #23A036;
    padding: 8px 20px;
    margin-top: 10px;
    border-radius: 50%;
}

/* .more_service {
    margin-top: 12px;
} */

.about__our-services p {
    font-size: 2rem;
    margin-bottom: 2.5rem;
    text-align: justify;
    color: #fff;
}


/* ============================ Service carousel ========================================== */
.about-our__services-img {
    position: relative;
    display: flex;
    overflow: hidden;
    z-index: 1;
}

.service-carousel {
    position: relative;
    /* width: 255px; */
    margin-right: 0.5rem;
}

.service__items {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: var(--white) !important; 
   padding-top: 1.5rem;
   text-align: center;
   border-radius: 5px;
   overflow: hidden; 
}

.icon-box {
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 75px;
    color: #23A036;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    background-color: #F5F5F5;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15)
  }

  i {
    font-size: 2em;
    font-weight: 900;
  }

  .service-carousel h5 {
    padding: 0 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    line-height: 1.2;
  }

  .service-carousel img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-style: none;
    /* overflow: clip; */
  }



/* ===================== Media Query for service section ================================== */
@media screen and (max-width: 900px) {
    .services__container {
        display: block;
        flex-direction: column;
    }

    .about__our-services {
        flex: 1;
        max-width: 100%;
    }

    .offers {
        margin-top: 12px;
    }

    .about__our-services .learn__more {
        margin-bottom: 3rem;
    }

    
}
