.about__section {
    background: var(--white);
    /* margin-top: 6rem; */
}

.about__container {
    padding: 10rem 0;
    display: flex;
    align-items: center;
    gap: 5rem;
}

.about__img {
    width: 40%;
}

.about__img img {
    border-radius: var(--radius-3);
    width: 100%;
    object-fit: cover;
}

.about__us {
    width: 55%;
}

.about__us p {
    font-size: 2rem;
    margin-bottom: 2.5rem;
    text-align: justify;
    hyphens: auto;
    -webkit-hyphens: auto;
    /* word-spacing: -0.06em; */
    color: var(--black);
}

.about__us a {
    cursor: pointer;
}

.learn__more {
    padding: 1.2rem 3rem;
    color: var(--dark-green);
    background-color: var(--primary);
    border-radius: var(--radius-2);
    font-size: 1.7rem;
    font-weight: 600;
    outline: none;
    border: transparent;
    cursor: pointer;
}

@media screen and (max-width: 900px) { 
    .about__img img {
        width: 100%;
    }
    .about__container {
        flex-direction: column;
    }
}