.why__section {
    background: var(--white);
}

.why__container {
    padding: 10rem 0;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.whyus__text {
    width: 55%
}

.whyus__text p {
    font-size: 1.7rem;
    margin-bottom: 2.5rem;
    text-align: justify;
    hyphens: auto;
    -webkit-hyphens: auto;
    color: var(--black);
    color: var(--dark);
}

.whyus__items {
    display: flex;
    gap: 2rem;
}

.whyus__item h1 {
    color: #23A036;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
}

.whyus__item h6 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: var(--dark);
}

.whyus__img-con {
    width: 45%;
}

.whyus__img {
    position: relative;
    /* border-radius: 5px; */
    overflow: hidden;
}

.whyus__img img {
    border-radius: 5px;
    width: 100%;
}






/*=========================== Media query for why us section ================================== */
@media screen and (max-width: 900px) {
    .why__container {
        flex-direction: column;
    }

    .whyus__text {
        width: 100%
    }

    .whyus__img-con {
        width: 100%;
    }
}
