@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Poppins:wght@300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');

:root {
  --primary: #FCDC2F;
  /* --logo: #FCDC2F; */
  /* --primary: #00539C; */
  --light: #FFD662;
  --white: #fff;
  --dark: #252525;
  --gray: #e4e4e4;
  --semi-gray: #706f7b;
  --light-gray: #f8f8f8;
  --dark-gray: #646464;
  --black: #000;
  --dark-green: #2C6054;

  --transition: all 300ms ease;

  --container-width-lg: 84%;
  --container-width-md: 92%;
  --form-width: 50%;

  --radius-1: 0.3rem;
  --radius-2: 0.6rem;
  --radius-3: 1rem;
  --radius-4: 2rem;
  --radius-5: 3rem;
}

.dark-theme {
  --light: #1b1b1b;
  --primary: #FCDC2F;
  /* --primary: #df6b13; */
  --white: #1b1b1b;
  --dark-gray: #fff;
  --light-gray: #1b1b1b;
  --semi-light: #f8f8f8;
  --semi-gray: #fff;
  --dark: #fff;
  --black: #fff;
  --gray: #FCDC2F;
}

.light-theme {
  --primary: #FCDC2F;
  /* --primary: #df6b13; */
  --light: #F8F8F8;
  --white: #fff;
  --dark: #252525;
  --gray: #e4e4e4;
  --light-gray: #f8f8f8;
  --dark-gray: #646464;
  --semi-gray: #706f7b;
  --semi-light: #f8f8f8;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: 0;
  resize: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--color-bg);
  font-size: 0.9rem;
  line-height: 1.6;
}

.container {
  width: var(--container-width-lg);
  margin-inline: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

 h5 {
  font-weight: 600;
  font-size: 2rem;
  color: #23A036;
}

 h2 {
  margin: 2rem 0;
  font-weight: 700;
  font-size: 4.2rem;
  color: var(--black);
}

.app {
  position: relative;
  background-color: var(--white);
}

.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
.lastSlide {
  transform: translateX(-100%);
}
.nextSlide {
  transform: translateX(100%);
}


@media screen and (max-width: 900px) {
  h2 {
    margin: 2rem 0;
    font-weight: 700;
    font-size: 3rem;
    color: var(--black);
  }
}


/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #FCDC2F #ffffff;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 10px;
  width: 10px;
}

*::-webkit-scrollbar-track {
  display: block;
  border-radius: 5px;
  background-color: #F8F8F8;
}

*::-webkit-scrollbar-track:hover {
  background-color: #F8F8F8;
}

*::-webkit-scrollbar-track:active {
  background-color: #F8F8F8;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: var(--primary);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary);
}

*::-webkit-scrollbar-thumb:active {
  background-color: var(--primary);
}
